.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  .filter {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .filter label {
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    font-size: 16px;
  }
  
  .article-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .article-table th,
  .article-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .article-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .article-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }
  

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .limit {
    display: flex;
    align-items: center;
  }
  
  .limit label {
    margin-right: 10px;
  }
  
  .limit select {
    padding: 5px;
    font-size: 16px;
  }
  